.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media print {
    margin: 0;
    padding: 0;
    max-width: none;
  }
}
